body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .btnWorkspace {
  width: 30%;
  margin: auto;
} */

.btnWorkspace > button {
  margin: 25px 18.5%;
  width: 63.5%;
  padding: 10px;
  color: white;
  background-color: #664DE5;
  border: 1px solid #664DE5;
  font-weight: 600;
  border-radius: 4px;
}


.btnWorkspace > button:hover {
  cursor: pointer;
  color: #664DE5;
  background-color: white;
  border: 1px solid #664DE5;
}


.stepper-container{
  width: 50%;
  border: 1px solid black;
}

#RFS-StepMain .completed{
  background-color: #664DE5;
}

#RFS-StepMain .active {
  background-color: gray;
}

.divimg{
  width: 25px;
  margin-bottom: -10px;
}